<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title data-th-text="#{'errors.404.header'}"></title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/404.css}" />
</head>
<body>
<div class="noise"></div>
<div class="overlay"></div>
<div class="terminal">
  <h1 data-th-text="#{'errors.404.title'}"><span class="errorcode">404</span></h1>
  <p class="output">The page you are looking for might have been removed, had
    its name changed or is temporarily unavailable.</p>
  <p class="output">Please try to
    <a th:href="@{/catalogue/products/list}">return to the homepage</a></p>
  <p class="output" data-th-text="${error}"></p>
</div>
</body>
</html>
