@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

.price {
    position: absolute;
    top: 1em;
    right: 1em;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.112);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 0 rgba(255, 255, 255, 0.4) solid;
    border-bottom: 0 rgba(40, 40, 40, 0.35) solid;
    border-right: 0 rgba(40, 40, 40, 0.35) solid;
    padding: 5px 10px;
    font-size: 0.8em;
    border-radius: 4px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.container {
    flex: 1;
    position: relative;
    padding: 20px;
    max-width: 25%;
    box-sizing: border-box;
}

.container .card {
    position: relative;
    width: 320px;
    height: 450px;
    border-radius: 20px;
    box-shadow: -20px -20px 25px #0e0e0e, 20px 20px 25px #dddddd;
    background-color: #07a8ff;
    overflow: hidden;
}

.container .card:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9bdc28;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.container .asics:before {
    background: #ebff6a;
}

.container .adidas:before {
    background: #87ff89;
}

.container .new-balance:before {
    background: #00fbff;
}

.container .card:hover:before {
    clip-path: circle(300px at 80% -20%);
}

.container .card:after {
    content: "";
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);
}

.container .asics:after {
    content: "Asics";
}

.container .adidas:after {
    content: "Adidas";
}

.container .new-balance:after {
    content: "new-balance";
}

.container .card .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 200;
    width: 100%;
    height: 220px;
    transition: 0.5s ease-in-out;
}

.container .card:hover .imgBx {
    top: 0%;
    transform: translateY(0%);
}

.container .card .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    width: 270px;
}

.container .card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.container .card:hover .contentBx {
    height: 210px;
}

.container .card .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #600505;
}

/* Shoe Size */
.container .card .contentBx .size,
.container .card .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.container .card:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    translate-delay: 0.5s;
}

.container .card:hover .contentBx .color {
    opacity: 1;
    visibility: visible;
    translate-delay: 0.6s;
}

.container .card .contentBx .size h3,
.container .card .contentBx .color h3 {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.container .card .contentBx .size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: 0.5s;
    border-radius: 4px;
    cursor: pointer;
}

.container .asics .contentBx .size span:hover {
    background: #155eb4;
}

.container .adidas .contentBx .size span:hover {
    background: #99243a;
}

.container .new-balance .contentBx .size span:hover {
    background: #8a8576;
}

.container .card .contentBx .color span {
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.container .card .contentBx .color span:nth-child(2) {
    background: #155eb4;
}

.container .card .contentBx .color span:nth-child(3) {
    background: red;
}

.container .card .contentBx .color span:nth-child(4) {
    background: black;
}

.container .card .contentBx button {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
    border: none;
}

.container .card:hover .contentBx button {
    opacity: 1;
    transform: translateY(0px);
    transform-delay: 0.75s;
    cursor: pointer;
}


.snip1226 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.snip1226 * {
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.snip1226 li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 1.5em;
    overflow: hidden;
}

.snip1226 a {
    padding: 0.3em 0;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    display: inline-block;
    letter-spacing: 1px;
    margin: 0;
    text-decoration: none;
}

.snip1226 a:before,
.snip1226 a:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.snip1226 a:before {
    bottom: 100%;
    display: block;
    height: 3px;
    width: 100%;
    content: "";
    background-color: #e67e22;
}

.snip1226 a:after {
    padding: 0.3em 0;
    position: absolute;
    bottom: 100%;
    left: 0;
    content: attr(data-hover);
    color: white;
    white-space: nowrap;
}

.snip1226 li:hover a,
.snip1226 .current a {
    transform: translateY(100%);
}

body {
    background-color: #212121;
    color: aliceblue;
    font-family: 'Raleway', Arial, sans-serif;
}
