<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>List</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

</head>
<body>
<ul class="snip1226">
  <li class="current"><a href="#" data-hover="Main">Main</a></li>
  <li><a th:href="@{/catalogue/products/create}" data-hover="Add">Add</a></li>
  <li><a href="#" data-hover="Edit">Edit</a></li>
  <li><a href="#" data-hover="Remove">Remove</a></li>
</ul>

<div class="wrapper" id="wrapper"></div>
<!--<div class="main" data-th-each="product : ${products}"></div>-->

<script th:src="@{/js/cards.js}"></script>
<script th:inline="javascript">
    const data = [];
    /*[[${products}]].forEach(product => {*/
    /*<![CDATA[*/
    /*[# th:each="product : ${products}"]*/
    data.push({
        title: /*[[${product.title}]]*/,
        price: "$" + /*[[${product.price}]]*/ + " USD",
        image: /*[[${product.url}]]*/,
        sizes: [6, 7, 8, 9, 10],
        id: /*[[${product.id}]]*/
    });
    /*]]>*/
    /*[/]*/
    /*});*/
    console.log(data);
      const wrapper = document.getElementById("wrapper");
      data.forEach(item => {
          const card = createCard(item);
          wrapper.appendChild(card);
      });
  </script>
</body>
</html>
